* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    .navbar-logo {
        padding: 0 15px;
        width: 33%;

        img {
            width: 50px;
        }
    }

    .navbar-items {
        display: flex;
        width: 33%;
        justify-content: center;

        .centered {
            display: flex;
            align-content: center;

            .navbar-item {
                padding: 0 15px;

                a {
                    text-decoration: none;
                    color: black;
                }
            }
        }
        
    }

    .navbar-login {
        display: flex;
        // align-content: flex-end;
        // flex-wrap: wrap-reverse;
        justify-content: end;
        width: 33%;

        .navbar-item {
            padding: 0 15px;

            a {
                text-decoration: none;
                color: black;
            }

            #registrarme {
                background-color: #2AD167;
                color: white;
                border-radius: 5px;
                border: 1px solid gray;
                padding: 5px 10px;
                // font-size: 500px;
            }
        }

        // background-color: orange;
    }
    @media(max-width: 390px){
        display: none;
        
    }

}
.mobile-nav{
    display: none;
    @media(max-width: 390px){
        display: flex;
        justify-content: space-between;
        img {
            width: 50px;
        }
        .hamburguesita{


            .menu-btn {
                display: block;
                cursor: pointer;
                padding: 10px;
              }
              
              .menu-btn span {
                display: block;
                width: 25px;
                height: 3px;
                background-color: #333;
                margin-bottom: 5px;

              }
              
              .menu {
                display: none;
                list-style-type: none;
                padding: 0;
              }
              
              .menu li {
                margin-bottom: 10px;
              }
              
              .menu a {
                text-decoration: none;
                color: #333;
              }
              
              #menu-toggle {
                display: none;
              }
              
              #menu-toggle:checked ~ .menu {
                display: block;
              }
        }
    }

}

header {
    display: flex;
    // width: 100vw;
    padding: 100px 0px;

    #left-container {
        width: 50%;

        #new {
            background-color: #2AD167;
            color: white;
            border-radius: 100px;
            padding: 2px 6px;
            width: 5%;
        }

        h1 {
            font-size: 5rem;
            font-weight: bold;
        }

        #paragraph {
            color: gray;
            margin: 20px 0px;
        }

        button {
            padding: 10px 20px;
            border-radius: 5px;
            border: 1px solid gray;
            background-color: white;

            &.demo {
                background-color: #2AD167;
                color: white;
                margin-right: 15px;
            }
        }
        @media(max-width: 390px){
            width: 100%;
            h1{
                font-size: 3rem;
            }
            
        }
    }

    #right-container {
        width: 50%;

        .sun {
            position: absolute;
            top: -10%;
            left: -10%;
        }

        .sea {
            position: absolute;
            top: 90%;
            left: 85%;
        }
        .images-container{
            position: relative;
            width: min-content;
        }
        @media(max-width: 390px){
            display: none;
            
        }
    }
}

.margins {
    margin: 0% 5%;
}

main {
    #section1 {
        display: flex;
        flex-wrap: wrap;
        
        img {
            background-color: #2AD167;
            padding: 15px;
            // height: 50px;
        }
        
        .section1-item {
            width: 30%;
            display: flex;
            flex-direction: column;
            // justify-content: center;
            align-items: center;
            border-radius: 5px;
            margin: auto;
            p{
                margin: 0 15px;
                // justify-content: center;
                // align-items: center;
            }
        }

        h3 {
            font-size: 1.5rem;
            font-weight: bold;
            margin: 25px 0;
        }
        @media(max-width: 390px){
            .section1-item{
                width: 100%;
                margin-top: 20px;
            }
            
        }
    }

    #section2 {
        h2 {
            font-size: 3rem;
            font-weight: bold;
            margin-top: 100px;
        }

        #paragraph2 {
            color: gray;
            margin: 20px 0px 50px 0px;
            font-size: 1rem;
        }

        .prices-container {
            display: flex;
            // margin: auto;
            justify-content: space-between;

            .plan-container {
                width: 30%;
                display: flex;
                flex-direction: column;
                // margin: auto;
                background-color: #F6F7F8;
                border-radius: 15px;
                align-items: center;
                margin-bottom: 50px;

                .span-price {
                    color: hsl(142, 67%, 49%);
                    margin: 10px 0px;
                    font-size: 0.8rem;
                    font-weight: bold;
                }

                .span-plan {
                    color: #2AD167;
                    font-size: 1rem;
                    font-weight: bold;
                    margin: 10px 0px;
                }

                .price {
                    font-weight: 300;
                    font-size: 2.5rem;
                    margin: 10px 0px;
                }

                .asd {
                    margin: 10px 0px;
                }

                .list-item {
                    margin: 10px 70px;
                }

                ul {
                    align-self: start;
                    margin: 10px 0px;
                }

                .button2 {
                    padding: 10px 20px;
                    border-radius: 5px;
                    border: 1px solid gray;
                    background-color: #2AD167;
                    color: white;
                    width: 80%;
                    margin: 10px 0px 30px 0px;
                }

                .custom-list {
                    list-style: none;
                    padding: 0;
                }

                .custom-list li {
                    position: relative;
                    padding-left: 40px;
                    margin-bottom: 10px;
                }

                .custom-list li::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 30px;
                    height: 30px;
                    background-image: url('../Materiales/tick2.png');
                    background-size: cover;
                }
            }
        }
        @media(max-width: 390px){
            .prices-container{
                flex-wrap: wrap;

                .plan-container{
                    width: 100%;
                }
            }
            h2{
                font-size: 2rem;
            }

            
        }
    }
}

footer{
    display: flex;
    flex-direction: column;
    color: #798599;
    background-color: #2A3342;
    justify-content: center;
    align-items: center;

    .footer-logo{
        margin-top: 100px;
        img{
            width: 50px;
        }
        @media(max-width: 390px){
            margin-top: 40px;
        }
    }
    .footer-nav{
        display: flex;
        justify-content: space-between;
        width: 65%;
        margin-top: 50px;
        .footer-item{
            // margin: 
            a {
                text-decoration: none;
                color: #798599;
                font-size: 1.2rem;
                font-weight: bold;
            }
        }
        @media(max-width: 390px){
            flex-direction: column;
            align-items: center;
            margin-top: 25px;
            .footer-item{
                margin-top: 5px;
            }
            
        }
    }
    .footer-copy{
        margin-top: 100px;
        margin-bottom: 70px;
        span{
            font-size: 1.2rem;
            font-weight: bold;
        }
        @media(max-width: 390px){
            justify-content: center;
            margin: 40px 15px;
        }
    }
}

#modal{
    display: flex;
    flex-direction: column;
    width: 25vw;
    height: 45vh;
    background-color: #2A3342;
    color: white;
    align-items: center;
    position: fixed;
    top: 10%;
    right: 0;
    z-index: 1;
      margin: auto;

    .cierre{
        align-self: end;
        margin-right: 20px;
    }
    img{
        width: 50px;
    }
    .form-modal{
        display: flex;
        flex-direction: column;
        width: 80%;
        margin-top: 5px;

        button{
            padding: 10px 20px;
            border-radius: 5px;
            border: 1px solid gray;
            background-color: #2AD167;
            color: white;    
            margin: 10px 0px 30px 0px;
        }
        .form-modal-container{
            width: 100%;
            margin: 5px 0px;


        }

        }
        span{
            display: flex;
            font-size: 0.5em;
            .recuperar-span{
                color:#2AD167;
            }



        }

        .vertical-fields{
            display: flex;
            flex-direction: column;
        }
    }


